body {
  width: 400px;
  height: 100%;
  text-align: center;
  font-family: open sans;
  color: 393d41;
  font: 1.2rem;
  line-height: 1.5;
}

#header {
  background-color: black;
  padding: 2rem;
}

#header img {
  width: 100px;
}

#menù {
  background-image: url(banner.jpg);
  background-size: cover;
  overflow: hidden;
}

#text-menù {
  text-align: center;
  margin: 2rem;
}

#text-menù h1 {
  color: #25a2c3;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

#text-menù p {
  line-height: 1.5;
}

#type {
  background-color: rgba(255, 60, 1, 0.833);
  color: white;
  border-radius: 0.3rem;
  margin: 1rem;
}

.central-text {
  color: #25a2c3;
  padding: 1rem;
  margin-top: 2rem;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}

#central p {
  line-height: 1.5;
  margin: 1rem;
}

#section-2 img {
  width: 200px;
  border-radius: 13rem;
}

#section-5 {
  background-color: #e22d0e;
  padding: 2rem;
  padding-bottom: 1rem;
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: bold;
}

#section-5 h2 {
  font-size: 2rem;
}

.section-6 img {
  max-width: 100%;
}

.section-border {
  margin: 2rem;
  border: 1px solid #dee1e3;
  border-radius: 0.5rem;
}

#final {
  background-color: #25a2c3;
  padding: 1rem;
  color: white;
}

#final h2 {
  font-size: 2rem;
  padding: 1.5rem;
}

.final-a a {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #c8e7f0;
}

#final-text {
  text-decoration: none;
}

#linar {
  color: white;
  margin: 2rem;
}

#copyright {
  color: #c8e7f0;
  margin-bottom: 2rem;
}

#copyright a {
  color: #c8e7f0;
}
